.feed-card {
    .feed-header {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .feed-body {
        margin-bottom: 20px;
        padding: 25px 20px;
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
    }
    .username {
        color: #262626;
    }
    .feed-title {
        color: #292929;
        font-size: 26px;
        margin-bottom: 15px;
    }
    p {
        color: #404040;
        margin-bottom: 35px;
    }
    .activity {
        display: inline-flex;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        overflow: hidden;
        .btn {
            background-color: #FAFBFC;
        }
        .activity-item {
            padding: 6px 15px;
            display: flex;
            align-items: center;
            font-size: 14px ;
            border-right: 1px solid rgba(27, 31, 35, 0.15);
            &:last-child {
                border-right: none;
            }
            .icon {
                margin-right: 5px;
            }
        }
    }
    .btn-comments {
        display: flex;
        align-items: center;
        &.active {
            .icon {
                transform: rotate(-180deg);
            }
        }
        .text {
            display: inline-block;
            margin-right: 5px;
        }
    }
    .comments {
        margin-top: 15px;
        .comment-item {
            display: flex;
            font-size: 14px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            .outher-username {
                display: inline-block;
                font-weight: 700;
                margin-right: 10px;
            }
        }
    }
    .feed-date {
        margin-top: 15px;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: .4);
    }
}